html {
  height: 100%;
  width: 100%;
}

  body {
    /* Estilos para o corpo da página */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimentos padrão */
    text-align: center; /* Alinha o texto centralmente */
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3953f1f3-48a0-4903-a7ba-92ea896fafb8/degb7bt-e00659c2-1040-42a5-865b-55a51d010c9a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzM5NTNmMWYzLTQ4YTAtNDkwMy1hN2JhLTkyZWE4OTZmYWZiOFwvZGVnYjdidC1lMDA2NTljMi0xMDQwLTQyYTUtODY1Yi01NWE1MWQwMTBjOWEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.WsL04a1jeh1hEOWFGKKlhd7QyP9UfoxUGEVt5vfyWcY'); 
    background-size: cover; /* Redimensiona a imagem para cobrir todo o corpo */
    background-attachment: fixed; /* Fixa a imagem de fundo para que ela não role com o conteúdo */
  }

  .container {
    /* Estilos para o contêiner usando Grid Layout */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .header {
    /* Estilos para o cabeçalho */
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    grid-column: 1 / -1; /* Ocupa todas as colunas */
  }

  .performance-square {
    /* Estilos para o quadrado de desempenho usando Flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    transition: transform 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 2px solid black; 
    padding: 10px; 
  }

  .performance-title {
    /* Estilos para o título acima das imagens */
    font-weight: bold;
    margin-bottom: 10px;
  }

  .performance-image {
    /* Estilos para a imagem */
    max-width: 100%; /* Largura máxima das imagens */
    max-height: 100%; /* Altura máxima das imagens */
    object-fit: contain; /* A imagem se ajusta ao contêiner mantendo sua proporção */
  }

  .red-image {
    background-color: darkred; /* Cor para a primeira imagem */
  }

  .blue-image {
    background-color: purple; /* Cor para a segunda imagem */
  }

  .green-image {
    background-color: navy; /* Cor para a terceira imagem */
  }

  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .footer {
    /* Estilos para o rodapé */
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  @media (max-width: 600px) {
    .container {
      grid-template-columns: 1fr; /* Altera para uma única coluna em telas menores */
    }
  }

  @media (max-width: 400px) {
    .performance-image {
      max-width: 100px; /* Reduz o tamanho das imagens em telas muito pequenas */
      max-height: 100px;
    }
  }
